<mat-card class="mat-card">
    <mat-card-header class="mat-card-header">
        <mat-card-title>{{creatorName}}</mat-card-title>
        <mat-card-subtitle>{{creatorDescription}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="mat-card-image" src="{{postData.imageUrl}}">
    <mat-card-content class="mat-card-content">
        {{postData.comment}}
    </mat-card-content>
    <mat-card-actions class="mat-card-actions">
        <mat-icon (click)="onReplyClick()" class="action-item">chat_bubble_outline</mat-icon>

        <!--Future work-->
        <!-- <mat-icon class="action-item" color="primary">favorite_border</mat-icon>
        <mat-icon class="action-item" color="primary">save</mat-icon> -->
    </mat-card-actions>
</mat-card>
